body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  border: 2px solid #888888;
  padding: 10px;
  border-radius: 5px;
  margin: 0 20pt;
  color: #000;
  background-color: #fff;
  font-family: Tahoma, Arial, sans-serif;
  

}

body {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border: 2px solid #888888;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h4 {
  list-style-type: none;
  padding: 0;
}

h4 {
  margin-bottom: 3em;
}

h4 {
  color: #007bff;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 15em;
  border: 2px solid #888888;
  padding: 10px;
  border-radius: 5px;
}

video{
  width: 50%;
  align-items: center;
  border: 2px solid #888888;
  padding: 10px;
  border-radius: 5px;
}